<div class="header">
    <div class="name"><span class="floaty"><a href="/">obskyr</a></span><span class="heart">❤</span></div>
    <div class="items">
        <div class="item"><span class="floaty"><a href="/projects/">Projects</a></span></div>
        <div class="item"><span class="floaty"><a href="https://twitter.com/obskyr/">Twitter</a></span></div>
        <div class="item"><span class="floaty"><a href="https://github.com/obskyr/">GitHub</a></span></div>
        <div class="item"><span class="floaty"><a href="mailto:powpowd@gmail.com">E-mail me</a></span></div>
    </div>
</div>
