* {box-sizing: border-box;}
html, body {margin: 0; min-width: 100%; min-height: 100vh;}

body {
    background: linear-gradient(135deg, rgba(255,162,209,1) 0%, rgba(255,213,165,1) 100%);
    color: rgb(81, 74, 98);
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #F26DE4;
}

::selection {
    color: inherit;
    background: rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    bottom: 0.3em;
    margin-bottom: 0;
    line-height: 1.1;
    font-family: Coiny, sans-serif;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page > * {
    text-align: left;
}

.content {
    width: 1400px;
}

.stained-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    width: 100%;
}

.stained-row.empty {
    height: 1em;
}

.stained-tile {
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.25);
}

.cutout-container {
    padding: 9px;
}

.header {
    display: flex;
    align-items: center;
    height: 6em;
    padding: 0 1em;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.header a {
    color: inherit;
    text-decoration: inherit;
    outline: none;
}

.name {
    display: inline-block;
    position: relative;
    font-size: 3.8888em;
    cursor: default;
    white-space: nowrap;
}

.heart {
    display: inline-block;
    position: relative;
    bottom: 0.2em;
    padding: 0 0.25em;
    font-size: 0.5em;
    opacity: 0;
    transition-property: opacity, bottom;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.2,.6,.55,.9);

    pointer-events: none;
    user-select: none;
}

.items {
    display: inline-block;
    font-size: 2.2222em;
    white-space: nowrap;
}

.name, .items {
    transform: translateY(-0.1em);
}

.item {
    display: inline-block;
}

.floaty {
    display: inline-block;
    position: relative;
    top: 0;
    transition: top 1s cubic-bezier(.2,.6,.55,.9);
}

.name, .items {
    font-family: Coiny, sans-serif;
    text-transform: lowercase;
}

.item:not(:last-of-type)::after {
    content: " •";
}

.footer {
    height: 6em;
    text-align: center;
    color: white;
}

.footer > * {
    position: relative;
    top: 50%;
    transform: translateY(-55%);
}

.footer svg {
    height: 3.5em;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.text-column {
    text-align: center;
    background: white;
}

.text-content {
    display: inline-block;
    width: 1000px;
    padding: 1em 2em;
    line-height: 1.3333em;
    text-align: left;
}

.pagewide {
    width: 100%;
}

.showcase-item {
    position: relative;
    width: 400px;
    min-height: 100%;
    background: white;
}

.showcase-image-container {
    position: relative;
    width: 400px;
    height: 225px;
}

.showcase-image-container img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    z-index: 1;
}

.showcase-image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    background: linear-gradient(135deg, rgba(255,162,209,1) 0%, rgba(255,213,165,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1.1em;
    text-align: center;
    font-family: Coiny, sans-serif;
    font-size: 2.5em;
    user-select: none;
    z-index: 0;
}

.no-image {
    pointer-events: none;
    user-select: none;
}

.showcase-bottom {
    padding: 1em;
    padding-bottom: 0.85em;
    font-size: 0.85em;
}

.showcase-description p, .showcase-description h2 {
    margin: 0;
}
.showcase-description p {
    margin: 0.1em 0;
}

.showcase-description a h2 {
    color: #FFA6D8;
}

.showcase-info {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0.85em;
    width: 100%;
    padding: 0 1em;
    opacity: 0.6666;
    margin-top: 0.85em;
}

.showcase-info.space-taker {
    position: initial;
    visibility: hidden;
}

.showcase-item.see-more {
    background: none;
    text-shadow:0 0 5px rgba(0, 0, 0, 0.2);
    color: white;
    user-select: none;
}

.showcase-item.see-more .showcase-image-placeholder {
    color: white;
    background: none;
}

.showcase-see-more-container {
    position: absolute;
    left: 0;
    top: 47.5%;
    width: 100%;
    transform: translateY(-60%);
    text-align: center;
    font-size: 2em;
    transition: transform 1s cubic-bezier(.2,.6,.55,.9);
}

.showcase-see-more-container .dots {
    font-size: 2em;
}

.stained-tile.single-surrounder {
    display: none;
    min-width: 1px;
}

.cutout-container.third-space-taker {
    display: none;
}

.cutout-container.third-space-taker > * {
    visibility: hidden;
}

@media (min-width: 1400px) {
    .page {
        min-width: 1400px;
    }
    .stained-tile.n3:not(:last-child) {
        width: 100%;
        height: 1em;
    }
    .stained-tile.n3:last-child {
        display: none;
    }
    .cutout-container.third-space-taker {
        display: block;
        background-color:rgba(255, 255, 255, 0.25);
    }
}
@media (min-width: 900px) and (max-width: 1399px) {
    .page {
        min-width: 900px;
    }
    .content {
        width: 900px;
    }
    .text-content {
        width: auto;
    }
    .stained-tile.n2:not(:last-child) {
        width: 100%;
        height: 1em;
    }
    .stained-tile.n2:last-child {
        display: none;
    }
}
@media (max-width: 1199px) {
    .header {
        font-size: 0.5em;
    }
}
@media (max-width: 899px) {
    body {
        font-size: 14px;
    }
    .header {
        padding: 0 9px;
    }
    .cutout-container {
        padding-top: 0;
    }
    .stained-row.empty {
        display: none;
    }
}
@media (min-width: 640px) and (max-width: 899px) {
    .page {
        min-width: 640px;
    }
    .content {
        width: 640px;
    }
    .text-content {
        width: auto;
    }
    .stained-tile.n2 {
        width: 100%;
        height: 0;
    }

    .showcase-item {
        width: 302px;
    }

    .showcase-image-container {
        width: 302px;
        height: 169.875px;
    }
}
@media (max-width: 639px) {
    .content {
        width: 100%;
    }
    .text-content {
        width: auto;
    }
    .cutout-container {
        width: 100%;
    }
    .stained-tile.n1:not(:last-child) {
        width: 100%;
        height: 0;
    }
    .stained-tile.n1:last-child {
        display: none;
    }
    .stained-tile.stained-tile.single-surrounder {
        display: block;
    }

    .showcase-item {
        width: 100%;
        max-width: 100vh;
    }

    .showcase-image-container {
        width: 100%;
        height: auto;
    }
}

body:not(.no-hover) .floaty:hover {
    top: -5px;
}

body:not(.no-hover) .floaty:hover + .heart {
    opacity: 1;
    bottom: calc(0.2em + 5px);
}

body:not(.no-hover) .showcase-item.see-more:hover .showcase-see-more-container {
    transform: translateY(-65%);
}

@media screen and (hover: none) {
    .heart {
        padding: 0;
    }
}
